header {
	padding-left: 33%;
	margin-bottom: 10px;
}
header h1:after {
	content: ":";
}
header h1,header h2 {
	display: inline;
}

#container {
	width: 770px;
    margin: 0 auto;
}

div#scroll {
	background: url('http://www.freeiconspng.com/uploads/scroll-png-29.gif') no-repeat;
	background-size: 100%;
	padding: 60px 125px;
	min-height: 175px;
}
div#scroll button, div#popup button {
	float: right;
}

table {
	float: left;
	border-collapse: collapse;
}
td {
	width: 10px;
	height: 10px;
}
td {
	border-left: 1px solid black;
	border-top: 1px solid black;
}
td:last-child {
	border-right: 1px solid black;
}
tr:last-child {
	border-bottom: 1px solid black;
}
td[data-tile-type="land"] {
	background-color: green;
}
td[data-tile-type="water"] {
	background-color: blue;
}
td[data-tile-type="forest"] {
	background-color: brown;
}
td[data-building="shack"]:before {
	content: "^";
}
td[data-unit="worker"]:after {
	content: ":)";
}
td.selected {
	border: 1px solid red;
}

div#popup {
    background: url(http://www.freeiconspng.com/uploads/scroll-png-29.gif) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 10%;
    left: 40%;
    width: calc(12.5% - 10px);
    height: 70%;
    border-radius: 10px;
    padding: 3% 4%;
}
.legend, #actions {
    margin-left: 350px;
	border: 1px solid black;
	padding: 5px;
}
